@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.calculator {
  border: 1px solid #717377;
  padding: 20px;
  border-radius: 16px;
  background-color: transparent;
  box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
  width: 328px;
}

.panel {
  display: flex;
  flex-wrap: wrap;
}

input {
  width: auto;
  border: none;
  padding: 24px;
  margin: 10px;
  background: transparent;
  box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
  font-size: 40px;
  text-align: right;
  cursor: pointer;
  color: white;
}

input::placeholder {
  color: white;
}

button {
  border: none;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  font-size: 15px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.equalBtn {
  background-color: orange;
}

.operator {
  color: chartreuse;
}

.prevBox {
  color: white;
  display: inline-block;
  width: 100%;
}
.resBox {
  width: 100%;
  color: white;
  display: inline-block;
  box-shadow: 0px 0px 27px rgba(255, 255, 255, 0.1);
  margin: 10px auto;
}

.basic {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.part1 {
  display: flex;
  flex-wrap: wrap;
  width: 74%;
}

.part2 {
  display: flex;
  flex-wrap: wrap;
  width: 26%;
}

.part3 {
  width: 100%;
  flex-wrap: wrap;
}

.toggle-btn {
  width: auto;
  margin: 10px 0;
  padding: 10px;
  background: #4caf50;
  color: white;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
}

.toggle-btn:hover {
  background: #388e3c;
}

@media (orientation: portrait) {
  .calculator {
    width: 100%;
    height: 100%;
  }

  .panel {
    display: flex;
    flex-wrap: wrap;
  }
  .panel .part1 {
    width: 100%;
  }
  .panel .part2 {
    width: 100%;
  }
}
